<?xml version="1.0" encoding="UTF-8"?>
<!--
	status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
	monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。
-->
<Configuration status="ERROR" monitorInterval="600">
	<properties>
		<!-- 定义变量 -->
		<property name="LOG_HOME">./logs</property>
	</properties>
	<Appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT"><!-- follow="true" -->
			<!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			<!-- 输出日志的格式 -->
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36}:%L %M - %msg%xEx%n" />
		</Console>
		<!-- 定义文件输出 -->
		<File name="AppLog" fileName="${LOG_HOME}/app.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
		<!-- 定义文件输出 -->
		<File name="TestLog" fileName="${LOG_HOME}/test.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout charset="UTF-8" pattern="%msg%xEx%n" />
		</File>
	</Appenders>
	<Loggers>
		<logger name="com.shadow.test" level="info" additivity="false">
			<appender-ref ref="TestLog" />
		</logger>
		<!-- 配置日志的根节点 -->
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="AppLog" />
		</root>
	</Loggers>
</Configuration>